[class*="guide_introduction"] {
    a img {
        display: inline !important;
        margin-right: 4px;
    }
}

.o-table-wrapper-view {
    table {
        display: unset;
        width: 100%;
    }
}

.global-toast-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.o-ai-settings-popover {
    .popover-content {
        min-width: 480px;
    }
}