[class*="guide_introduction"] {
    a img {
        display: inline !important;
        margin-right: 4px;
    }
}

.o-table-wrapper-view {
    table {
        display: unset;
        width: 100%;
    }
}